$color-1: #dddddd;
$color-2: #222831;
$color-2-lighter: lighten($color-2, 10%);
$color-2-darker: darken($color-2, 10%);
$color-3: #30475e;
$color-4: #50c878;
$color-5: #efaf59;
$color-6: #f05454;
$color-7: #2c405d;

$height-title-bar: 32px;
